.hero {
  min-height: 250px;
  position: relative;
  background-color: #3f3f3f;
}

.hero * {
  position: relative;
  z-index: 2;
}

.hero h3, .hero h2 {
  text-align: center;
  color: white;
}

.hero h2 {
  font-size: 50px;
  margin-top: 0;
}

.hero img {
  max-width: 100%;
  max-height: 250px;
}